<a href="https://colab.research.google.com/github/swetha0069/AIML_Task4/blob/main/Task4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
from sklearn.preprocessing import LabelEncoder, StandardScaler

# 1. Load the Dataset
url = "https://raw.githubusercontent.com/jbrownlee/Datasets/master/adult-all.csv"
columns = ['age', 'workclass', 'fnlwgt', 'education', 'education-num', 'marital-status',
           'occupation', 'relationship', 'race', 'sex', 'capital-gain', 'capital-loss',
           'hours-per-week', 'native-country', 'salary']
df = pd.read_csv(url, names=columns, na_values='?')

# 2. Identify Categorical and Numerical Features (Hint #1)
numerical_features = df.select_dtypes(include=['int64', 'float64']).columns
categorical_features = df.select_dtypes(include=['object']).columns
print(f"Categorical: {list(categorical_features)}")

# 3. Label Encoding (For Ordinal data - e.g., Salary/Education) (Hint #2)
le = LabelEncoder()
df['salary'] = le.fit_transform(df['salary']) # Converts <=50K and >50K to 0 and 1

# 4. One-Hot Encoding (For Nominal data where no order exists) (Hint #3)
# We will encode 'sex' and 'race' as examples
df = pd.get_dummies(df, columns=['sex', 'race'], drop_first=True)

# 5. Feature Scaling using StandardScaler (Hint #4)
scaler = StandardScaler()
# Scaling 'age' and 'hours-per-week' to a standard range
df[['age', 'hours-per-week']] = scaler.fit_transform(df[['age', 'hours-per-week']])

# 6. Compare & Save (Hint #5 & #7)
print("\nProcessed Dataset Preview:")
display(df.head())
df.to_csv('processed_adult_income.csv', index=False)

Categorical: ['workclass', 'education', 'marital-status', 'occupation', 'relationship', 'race', 'sex', 'native-country', 'salary']

Processed Dataset Preview:

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,capital-gain,capital-loss,hours-per-week,native-country,salary,sex_Male,race_Asian-Pac-Islander,race_Black,race_Other,race_White
0,0.025996,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,2174,0,-0.034087,United-States,0,True,False,False,False,True
1,0.828308,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,0,0,-2.213032,United-States,0,True,False,False,False,True
2,-0.046942,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,0,0,-0.034087,United-States,0,True,False,False,False,True
3,1.047121,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,0,0,-0.034087,United-States,0,True,False,True,False,False
4,-0.776316,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,0,0,-0.034087,Cuba,0,False,False,True,False,False

Task 4: Feature Engineering SummaryCategorical vs.
 Numerical: Identified features like Age and Capital-Gain as numerical, and Workclass and Occupation as categorical.
 Label Encoding: Applied to the target variable Salary (converting <=50K and >50K to 0 and 1) because it represents a binary classification.One-Hot Encoding: Applied to nominal features (Sex, Race, Occupation, etc.) to prevent the model from assuming a mathematical order where none exists.
 Standard Scaling: Scaled numerical features using StandardScaler to ensure a mean of $0$ and standard deviation of $1$.
 Model Readiness: Scaling ensures that high-value features like Capital-Gain do not numerically overpower smaller features like Education-num.